body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

svg {
  height: 100%;
  width: 100%;
}

.background-path {
  fill: none;
  stroke: #ececec;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.foreground-path {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.point-path {
  fill: none;
  stroke: #ff0083;
  stroke-width: 15px;
  stroke-linecap: round;
}
